<form action="" method="post" class="center form" enctype="multipart/form-data">
    <h1>{{title}}</h1>
    <div class="form-input">
        <label for="name">Name: </label>
        <input type="text" name="name" required>
    </div>
    <div class="form-input">
        <label for="photo">Upload Image: </label>
        <input type="file" name="photo" id="">

    </div>
    {{#if isItem}}
    <div class="form-input">
        <label for="price">Price: </label>
        <input type="number" step="0.1" name="price" required>
    </div>
    <div class="form-input">
        <label for="qty">Qty: </label>
        <input type="number" name="qty" required>
    </div>
    <div class="form-input textarea">
        <label for="desc">Description:</label>
        <textarea name="desc" cols="30" rows="10"></textarea>
    </div>
    <input type="text" name="categoryId" value={{id}} hidden>

    {{/if}}
    <button type="submit"> Submit </button>

</form>