<section class="fluid-container pd-top-3em">
    <div class="grid-12 inventory-stats">
        <p class="inventory-category-count">
            Number of Categories: <span>{{category_count}}</span>
        </p>
        <p class="inventory-items-count">
            Number of Items: <span>{{item_count}}</span>
        </p>
    </div>
</section>