<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="fluid-container">
    <div class="navbar">
      <ul class="nav-links  grid-12">
        <li>
          <a href="/">Inventory</a>
        </li>
        <li>
          <a href="/categories">Categories</a>
        </li>
        <a href="/category_form " class="create">
          <li class="">Create Category</li>
        </a>
      </ul>
    </div>

  </div>
  {{{body}}}
</body>


</html>