<section class="items-container container pd-top-3em">
    <div class="flex column">
        <div class="category-info span-whole ">
            <div class="flex space-between ">
                <h1>Category: {{category.name}}</h1>
                <a href={{concat category.url '/add'}}><button>Add Item</button></a>
            </div>

        </div>
        <div class="flex items">
            {{#each items}}
            {{>categoryCard name=this.name quantity=this.quantity price=this.price url=this.url class='top-card-info' img=this.img
            }}
            {{/each}}
        </div>

    </div>
    <a href={{concat category.url '/delete'}} class="underline danger">Delete Category</a>
</section>