* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$gap: 20px;
$primary-text: rgb(46, 46, 46);

$secondary-text: rgb(235, 235, 50);

body {
    font-family: Montserrat, 'Times New Roman', Times, serif;
}

.grid-12 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    gap: $gap;
}

.flex {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    padding: 10px 100px;
    div {
        margin: 20px;
    }
    .flex {
        padding: 10px 0;
    }
}

.column {
    flex-direction: column;
}

.container {
    display: grid;
    justify-items: center;
    align-items: center;
}

.fluid-container {
    justify-items: center;
    align-items: center;
    width: 100vw;
}

.navbar {
    font-size: clamp(20px, 1vw, 2em);
    white-space: nowrap;
    display: flex;
    align-items: center;
    height: 6vh;
    max-height: 80px;
    background-color: $primary-text;
    border-bottom: 2px solid $primary-text;
    .nav-links {
        height: 70%;
        a {
            color: $primary-text;
            text-decoration: none;
        }

        a:visited {
            color: $primary-text;
        }

        font-weight: 600;

        li:first-child {
            grid-column: 2;
        }
        text-align: center;
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            background-color: $secondary-text;
            padding: 0 0.4em;
            height: 100%;
        }
        .create {
            grid-column: 9/12;
        }
    }
}
a {
    color: $primary-text;
    text-decoration: none;
}

a:visited {
    color: $primary-text;
}

ul {
    list-style: none;
}

.pd-top-3em {
    padding-top: 3em;
}

.span-whole {
    grid-column: 1/-1;
}

.inventory-stats {
    white-space: nowrap;
    p {
        color: rgba(53, 53, 53, 0.596);
        font-size: 1.3em;
        grid-column: 2/ -1;
        span {
            color: $primary-text;
        }
    }
}

.categories-container,
.items-container {
    .grid-12 {
        padding: 0 100px;
        gap: 40px;
    }
    .category-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        padding: 1.5em 0;
        border-radius: 24px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.274);
        img {
            height: 100px;
        }
        p {
            font-weight: 300;
            font-size: 2.2em;
        }
        .top-card-info {
            height: 100%;
            padding: 10px;
            display: flex;

            flex-direction: column;
            justify-content: space-around;

            p {
                margin-top: 0.8em;
            }
            .info {
                margin: 0;
                width: 100%;
                display: flex;
                margin-top: 14px;
                justify-content: space-between;
                color: rgba(80, 80, 80, 0.527);
            }
        }
    }
}

.category-info {
    display: flex;
    justify-content: space-between;
    h1 {
        font-weight: normal;
    }
    .flex {
        flex-direction: row;
        align-items: center;
    }
}

.item-details {
    display: flex;
    max-height: 70vw;
    img {
        padding: 80px;
        max-width: 50vw;
    }
    .details {
        padding: 80px;
        display: grid;
        grid-template-rows: 1fr 1fr 8fr;
    }
    .pnq {
        color: rgba(80, 80, 80, 0.527);
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: clamp(200px, 100%, 300px);
    }
    .desc {
        align-self: center;
    }
}

.center {
    position: absolute;
    top: 30%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0);
}
.delete-text {
    h1 {
        margin: 1em;
        color: $primary-text;
        font-size: 3em;
        span {
            color: rgb(235, 235, 50);
        }
    }
}

button:hover {
    cursor: pointer;
}

button {
    font-family: Montserrat;
    font-size: 1em;
    background-color: rgb(235, 235, 50);
    border: none;
    padding: 20px;
    border-radius: 10px;
}

.underline {
    text-decoration: underline;
}
.space-between {
    justify-content: space-between;
}
.hori-center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.danger {
    color: rgb(247, 76, 76) !important;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        padding-bottom: 20px;
    }
    .form-input {
        display: flex;
        justify-content: flex-end;
        margin: 8px 0;
        width: 100%;

        input {
            width: 70%;
            display: inline;
            padding: 4px;
            margin: 0 10px;
            box-shadow: none;
            border: 2px solid $primary-text;
            border-radius: 4px;
            background-color: $secondary-text;
            font-family: Montserrat;
            color: $primary-text;
        }
    }

    .form-input.textarea {
        flex-direction: column;
        textarea {
            margin: 10px 0;
            resize: none;
        }
    }

    button {
        display: inline;
        margin-top: 3em;
        padding: 0.5em;
        width: 80%;
    }
}

@media screen and (max-width: 900px) {
    .flex.items {
        justify-content: center;
    }
    .navbar {
        .nav-links {
            .create {
                grid-column: 6/11;
            }
        }
    }
}

@media screen and (max-width: 736px) {
    .navbar {
        .nav-links {
            .create {
                grid-column: 6/12;
            }
        }
    }
}
